h1{
  margin: 80px auto;
  text-align: center;
}

footer {
  text-align: center;
 
  
}

header {

  border-bottom: 1px solid grey;
}

.App{
  border: 1px solid grey;
  max-width: 95vh;
  margin: 20px auto;
  border-radius: 4px;
}