
.PartsOfSpeech{
    font-weight: bold;
    margin: 18px auto;
    text-align: left;
    font-size: 26px;
}
.Definition{
    color: rgb(2, 2, 5);
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
}
.Example {
    color: indigo;
    font-size: 16px;
    margin-left: 20px;
    line-height: 20px;
    color: rgb(79, 79, 85);
    font-family: cursive;
}