.Synonyms {
    margin-top: 5px;
    font-size: 17px;
    line-height: 15px;
  }
  
  .Synonyms .synonym {
    color: #476072;
    font-weight:bolder;
    font-style: italic;
    padding-left: 40px;
    padding-right: 10px;
  }
  
  .Synonyms .synonym-ex {
    font-style: italic;
    color: #476072;
    padding-right: 10px;
    display: inline-block;
    font-weight: lighter;

  }